/* Global Styles */
body {
    margin-top: 90px;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 14px 10px #00000008;
    z-index: 1000;
}

.header-logo img {
    max-width: 300px;
}

.header-menu {
    display: flex;
    align-items: center;
    padding: 0;
}

.header-menu li a,
.footer-menu li a,
#open-modal-button-header,
.close {
    text-decoration: none;
    color: #000;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.7px;
    letter-spacing: 0.1em;
    text-align: left;
}

.header-menu ul,
.footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-menu li,
.footer-menu li {
    margin-right: 20px;
}

#open-modal-button-header,
#open-modal-button-footer {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

#open-modal-button-header:hover,
.header-menu li a:hover,
.footer-menu a:hover {
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 700;
}

.close:hover {
    text-decoration: underline;
}

/* FOOTER */
.footer-menu {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000;
    padding-top: 10px;
}

.footer-menu li {
    margin: 0 15px;
    display: inline; /* Mantenemos la visualización en línea para la versión de escritorio */
}

.footer-menu a {
    text-decoration: none;
    padding-top: 5px;
}

/* Estilos para la versión móvil */
@media screen and (max-width: 767px) {
    .footer-menu {
        text-align: center;
        margin-top: 20px;
        padding-top: 10px;
    }

    .footer-menu ul {
        list-style-type: none; /* Elimina los puntos de lista */
        padding: 0;
    }

    .footer-menu li {
        margin: 10px 0;
        text-align: center; /* Centramos el texto en la versión móvil */
    }
}


/* Animation and Modal Styles */
@-webkit-keyframes animatetop {
    from {
        top: 0;
        opacity: 1;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: 0;
        opacity: 1;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.822);
    overflow: auto;
}

/* Modal Content Styles */
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 80%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s;
    animation-timing-function: ease;
}

.modal-content img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Close Button Styles */
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Media Query for Modal */
@media (max-width: 768px) {
    .modal-content {
        max-width: 95%;
    }
}

/* Contact Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

/* Label Borders Styles */
input[type=email],
input[type=text],
select,
textarea {
    border: none;
    border-radius: 7px;
}

/* Send Button Styles */
input[type=submit] {
    display: block;
    width: 263px;
    height: 50px;
    padding: 8px 15px;
    border-radius: 2px;
    margin: 0 auto;
    transition: .3s ease-in-out;
    cursor: pointer;
    font-family: Space Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.77px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    background-color: #D8D8D8;
    color: #000000;
}

/* Send Button Hover Styles */
input[type=submit]:hover {
    background-color: #cccaca;
}

/* Error Message Styles */
.wpcf7-not-valid-tip {
    color: #B8BBC2;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output,
.wpcf7 form .wpcf7-response-output {
    color: #65676d;
    font-family: Poppins;
    font-size: 14px;
    background-color: transparent;
    border: none;
}

/* Label Styles */
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
    width: 263px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    padding: 5px 10px;
}

/* Text Label Styles */
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea,
.wpcf7 label {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

/* Message Label Styles */
.wpcf7 textarea[name="your-message"] {
    height: 190px;
}

/* Mobile Menu Button Styles */
.mobile-menu-button {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.bar {
    display: block;
    width: 27.42px;
    height: 2px;
    margin: 5px auto;
    background-color: #000;
    transition: 0.4s;
}

/* Media Query for Mobile Version */
@media (max-width: 768px) {
    .mobile-menu-button {
        display: block;
    }

    .header-menu {
        display: none;
    }

    /* Agrega estos estilos para el menú a pantalla completa */
    .mobile-menu-opened .header-menu {
        display: block;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        box-shadow: 0px 4px 14px 10px #00000008;
        z-index: 1000;
        overflow-y: auto; /* Para habilitar el desplazamiento si el menú es largo */
    }

    /* Estilos para el botón de cierre en la versión mobile */
    .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #000;
    }
}

/* Media Query para la versión mobile */
@media (max-width: 768px) {
    /* Estilos para el menú a pantalla completa en la versión móvil */
    .mobile-menu-opened .header-menu {
        background: #E00000; /* Color de fondo */
        height: 100vh; /* Usar la altura completa de la pantalla */
        left: 0;
        top: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Alinea verticalmente en el centro */
        align-items: center; /* Alinea horizontalmente en el centro */
        padding: 20px;
        overflow-y: auto;
    }

    /* Estilos para los elementos del menú en la versión móvil */
    .header-menu li a,
    #open-modal-button-header {
        font-family: 'Space Mono';
        font-weight: 400;
        font-size: 44px;
        line-height: 65px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        display: block;
        margin-bottom: 20px;
        transition: font-weight 0.3s ease; /* Transición para el cambio de grosor */
    }

    /* Cambia el grosor del texto en hover */
    .header-menu li a:hover,
    #open-modal-button-header:hover {
        font-size: 44px;
        font-weight: 600; /* Cambia el grosor en hover */
    }

    /* Estilos para el botón de cierre en la versión móvil */
    .close-button {
        color: #FFFFFF;
        font-size: 24px;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    /* Estilos para el fondo de pantalla cuando se abre el menú en móvil */
    body.mobile-menu-opened {
        background: rgba(0, 0, 0, 0.5);
    }
    
    /* Estilos para espaciar los elementos del menú verticalmente */
    .header-menu li {
        margin-bottom: 20px;
    }
}

/* Estilos para la versión desktop */
@media (min-width: 769px) {
    /* Oculta el botón de cierre */
    .close-button {
        display: none;
    }
}

/* Estilos para la versión mobile */
@media (max-width: 768px) {
    /* Muestra el botón de cierre solo en la versión móvil */
    .close-button {
        display: block;
    }

    
}

