/* Styles | Global */
body {
    margin-top: 90px;
    background-color: #FFFFFF;
}

/* Styles | Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 14px 10px #00000008;
    z-index: 1000;
}

/* Styles | Logo Header */
.header-logo img {
    max-width: 300px;
}

/* Styles | Logo Container */
.logo-container img {
    padding-left: 21px;
    padding-top: 35px;
    width: 212px;
}

/* Styles | Header Menu */
.header-menu {
    display: flex;
    align-items: center;
    padding: 0;
}

/* Styles | Header & Footer Menu Liens */
.header-menu li a,
.footer-menu li a,
#open-modal-button-header,
.close {
    text-decoration: none;
    color: #000;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.7px;
    letter-spacing: 0.1em;
    text-align: left;
}

/* Styles | Header & Footer Menu Listes */
.header-menu ul,
.footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Styles | Header & Footer Menu Liste Items */
.header-menu li,
.footer-menu li {
    margin-right: 20px;
}

/* Styles | Header & Footer Button Styles */
#open-modal-button-header,
#open-modal-button-footer {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Styles | Hover Styles for Buttons & Liens */
#open-modal-button-header:hover,
.header-menu li a:hover,
.footer-menu a:hover {
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 700;
}

/* Styles | Hover Styles for Close Buttons */
.close:hover,
.close-button:hover {
    text-decoration: underline;
}

/* Styles | FOOTER */
.footer-menu {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000;
    padding-top: 10px;
}

/* Styles | Footer Menu List Items */
.footer-menu li {
    margin: 0 15px;
    display: inline;
}

/* Styles | Footer Menu Liens */
.footer-menu a {
    text-decoration: none;
    padding-top: 5px;
}

/* Styles | MOBILE - FOOTER */
@media screen and (max-width: 767px) {
    .footer-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        padding-top: 10px;
    }

    .footer-menu ul {
        list-style-type: none;
        padding: 0;
    }

    .footer-menu li {
        margin: 10px 0;
        text-align: center;
    }
}

/* Styles | Animation for Modal */
@-webkit-keyframes animatetop {
    from {
        top: 0;
        opacity: 1;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: 0;
        opacity: 1;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

/* Styles | MODALE */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.822);
    overflow: auto;
}

/* Styles | MODALE - CONTENU */
.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 80%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s;
    animation-timing-function: ease;
}

/* Styles | Image Styles Inside Modal Content */
.modal-content img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Styles | Close Button Styles */
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styles | MOBILE - MODALE */
@media (max-width: 768px) {
    .modal-content {
        max-width: 95%;
    }
}

/* Styles | Styles for Contact Form 7 */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

/* Styles | Contact Form 7 Input Styles */
input[type=email],
input[type=text],
select,
textarea {
    border: none;
    border-radius: 7px;
}

/* Styles | Contact Form 7 Submit Button Styles */
input[type=submit] {
    display: block;
    width: 263px;
    height: 50px;
    padding: 8px 15px;
    border-radius: 2px;
    margin: 0 auto;
    transition: .3s ease-in-out;
    cursor: pointer;
    font-family: Space Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.77px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    background-color: #D8D8D8;
    color: #000000;
}

/* Styles | Contact Form 7 Submit Button Hover Styles */
input[type=submit]:hover {
    background-color: #cccaca;
}

/* Styles | Contact Form 7 Error Messages */
.wpcf7-not-valid-tip {
    color: #B8BBC2;
}

/* Styles | Contact Form 7 Response Output Styles */
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output,
.wpcf7 form .wpcf7-response-output {
    color: #65676d;
    font-family: Poppins;
    font-size: 14px;
    background-color: transparent;
    border: none;
}

/* Styles | Labels for Contact Form 7 */
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
    width: 263px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    padding: 5px 10px;
}

/* Styles | Label Styles for Contact Form 7 */
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea,
.wpcf7 label {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

/* Styles | Message Label Style for Contact Form 7 */
.wpcf7 textarea[name="your-message"] {
    height: 190px;
}

/* Styles | MOBILE - BURGER BUTTON */
.mobile-menu-button {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.bar {
    display: block;
    width: 27.42px;
    height: 2px;
    margin: 5px auto;
    background-color: #000;
    transition: 0.4s;
}

/* Styles | MOBILE - MENU */
@media (max-width: 768px) {
    .mobile-menu-button {
        display: block;
    }

    .header-menu {
        display: none;
    }

    .mobile-menu-opened .header-menu {
        display: flex;
        flex-direction: column; 
        align-items: center;
        background-color: #fff;
        position: fixed;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        box-shadow: 0px 4px 14px 10px #00000008;
        z-index: 1000;
        overflow-y: auto;
    }

    .close-button {
        position: absolute;
        font-family: "Space Mono", monospace;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #000;
    }

    .close-button-container {
        width: 100%;
        height: 86px;
        background: white;
        position: absolute;
        top: 0;
    }
    
    .header-menu ul,
    .footer-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

     
    .mobile-menu-opened .header-menu {
        background: #E00000;
        height: 100vh;
        left: 0;
        top: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        overflow-y: auto;
    }
    .header-menu li a,
    #open-modal-button-header {
        font-family: 'Space Mono';
        font-weight: 400;
        font-size: 44px;
        line-height: 65px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
        transition: font-weight 0.3s ease;
    }

    .header-menu li a:hover,
    #open-modal-button-header:hover {
        font-size: 44px;
        font-weight: 600;
    }

    .close-button {
        color: #000000;
        font-size: 23px;
        position: absolute;
        top: 22px;
        right: 30px;
    }

    body.mobile-menu-opened {
        background: rgba(0, 0, 0, 0.5);
    }
    
    .header-menu li {
        margin-bottom: 20px;
    }

    .logo-container {
        display: block;
    }

    .close-button {
        display: block;
    }
}

@media (min-width: 768px) {
    .logo-container {
        display: none;
    }

    .close-button {
        display: none;
    }
}
